[Unit]
Description=Sigmo
After=network.target ModemManager.service

[Service]
Type=simple
User=root
RuntimeDirectory=sigmo
RuntimeDirectoryMode=0700
RuntimeDirectoryPreserve=yes
Restart=on-failure
ExecStart=/usr/local/bin/sigmo --listen-address=0.0.0.0:9527 --db-path=/var/lib/sigmo/sigmo.db
RestartSec=10s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
